* {
    margin: 0;
    padding: 0;
    color: inherit;
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    background-color: #F7F7F7;
}

h1 {
    margin-top: 60px;
    font-size: 5rem;
    font-weight: 700;
}

.container {
    margin: 80px 0 0 10%;
    display: flex;
}

.caption {
    margin-top: 40px;
    font-size: 1.4rem;
    line-height: 1.8;
}

.contact {
    margin-top: 100px;
    font-size: 1.4rem;
}

.contact-item {
    margin-right: 30px;
}

a:hover {
    opacity: 0.65;
}

.left-div {
    flex: 0 0 60%; /* Takes up 60% of the width */
    padding-right: 60px;
}

.right-div {
    flex: 0 0 40%; /* Takes up 40% of the width */
    padding-top: 30px;
}

.image {
    height: 500px;
    width: auto;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }

    .container {
        margin: 20px;
        flex-direction: column; /* Stack the divs vertically */
    }
    
    .caption {
        font-size: 1.2rem;
    }

    .contact {
        font-size: 1rem;
    }

    .left-div, .right-div {
        flex: 0 0 100%; /* Make both divs take up 100% width */
        padding: 10px;
    }

    .image {
        height: 400px;
        text-align: center
    }
}