/* PARALLAX LANDING PAGE
-------------------------------------------------- */


#bg .title {
    padding-top: 110px;
    text-align: center;
    font-size: 2.4em;
    font-weight: 100;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
}

@media (max-width: 769px) {
    #bg .title {
        padding-top: 110px;
        text-align: center;
        font-size: 2em;
        font-weight: 100;
        color: white;
        font-family: "Helvetica Neue", sans-serif;
    }
}

.slide {
    position: relative;
    min-height: 100vh;
    width: 100vw;
    transform-style: inherit;
}

.slide:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
}

.slide, .slide:before {
    background: 50% 50% / cover;  
}

#bg {
    background-image: url("../images/stardust.png");
    background-attachment: fixed;
}

.smallslide {
    min-height: 70vw;
}

#columbia {
    background-image: url("../images/columbia.jpg");
    background-attachment: fixed;
}

#columbia .title {
    padding-top: 110px;
    text-align: center;
    font-size: 3.8em;
    font-weight: 100;
    color: white;
    font-family: "Helvetica Neue", sans-serif;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    transform-style: inherit;
}

@media (max-width: 769px) {
    #columbia .title {
        padding-top: 110px;
        text-align: center;
        font-size: 2.5em;
        font-weight: 100;
        color: white;
        font-family: "Helvetica Neue", sans-serif;
    }
}

#blog {
    background-image: url("../images/blog.jpg");
    background-attachment: fixed;
}

#blog .title {
    padding-top: 300px;
    text-align: center;
    font-size: 4em;
    font-weight: 100;
    color: white;
    font-family: "Open Sans", sans-serif;
}



html {
  height: 100%;
  overflow: hidden;
}

body { 
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Montserrat";
}








/* TRIFOLD SECTION
-------------------------------------------------- */

.trifold {
    padding-top: 120px;
    padding-bottom: 210px;
    padding-left: 40px;
    padding-right: 40px;
    color: #000;
    background: #91C8FF;
}

.trifold h2 {
    font-weight: 100;
    font-size: 2.2em;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    margin-top: 30px;
}

.trifold p {
    color: #222;
    font-weight: 100;
    font-size: 1.5em;
    font-family: "Helvetica Neue";
    text-align: center;
    margin: 70px 35px;
}

@media (max-width: 769px) {
    .trifold p {
        font-weight: 100;
        font-size: 1.5em;
        font-family: "Helvetica Neue";
        text-align: center;
        margin: 70px 0px;
    }
}



/* BANNERS
-------------------------------------------------- */

.banner {
    padding-top: 120px;
    padding-bottom: 0px;
    height: 300px;
    color: #fff;
    font-weight: 400;
    font-family: "Montserrat","Helvetica Neue";
    text-align: center;
}

.bannertitle {
    font-weight: 400;
    font-family: "Montserrat","Helvetica Neue";
    margin-bottom: 65px;
    font-size: 3em;
    text-align: center;
}

.bannerbutton {
    text-align: center;
    font-size: 2.1em;
    border: 2px solid;
    border-color: #fff;

    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 15px;
}

.bannerbutton:hover {
    background-color: #fff;
    border-color: #fff;
}

.arrows {
    background-color: #AA3939;
}

.arrowsbutton:hover {
    color: #AA3939;
}

.pinpoint {
    background-color: #A37ACC;
}

.pinpointbutton:hover {
    color: #A37ACC;
}

.medium {
    background-color: #FF9933;
}

.mediumbutton:hover {
    color: #FF9933;
}



/* CONTACT SECTION
-------------------------------------------------- */

.contact {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact .container {
    text-align: center;
}

.contact .mediabutton {
    border-radius: 50%;
    display: inline-block;
}

.contact .mediabutton:hover {
    background-color: #FFA347;
}

/* FOOTER SECTION
-------------------------------------------------- */

.footer {
    padding-top: 0px;
    padding-bottom: 8px;
    background-color: #fff;
}

.footer hr {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 5px;
}

.footer .copyright {
    text-align: center;
    font-weight: 200;
    font-size: 1em;
    font-family: "Helvetica Neue", sans-serif;
    color: #000;
}

































/* GENERAL ATTRIBUTES
-------------------------------------------------- */

body {
    overflow-x: hidden;
}

body a,visited {
    text-decoration: none;
    color: inherit;
}

* {
margin: 0;
padding: 0;
}




/* COLUMNS
-------------------------------------------------- */

.columnedcontainer {
    width: 100%;
    min-height: 300px;
    padding: 50px 0px;
}

@media (min-width: 769px) {
.col {
    float: left;
    width: 33.333333333333333333333333%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    min-width: 200px;
}
}

@media (max-width: 769px) {
.col {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px;
    text-align: center;
    min-width: 200px;
}
}

.clear {
    clear:both;
}




/* BUTTONS
-------------------------------------------------- */

.trifoldbutton {
    border-radius: 50%;
    display: inline-block;
    border: solid 6px #91C8FF;
    overflow: hidden;
}

/*.trifoldbutton:hover {
    border-radius: 50%;
    border: solid 6px #297ACC;
}*/

.trifoldbutton-active {
    border-radius: 50%;
    display: inline-block;
    border: solid 6px #297ACC;
    transition: all .3s ease-in-out;
    overflow: hidden;
}





/* COLORS USED
--------------------------------------------------

Light Blue: #91C8FF
Dark Blue: #297ACC
Purple: #4A4AB8
Light Tan: #F1EDF1
Orange: #FFA347;

*/
