/* COLORS USED
--------------------------------------------------

Light Blue: #91C8FF
Dark Blue: #297ACC;
Purple: #4A4AB8
Light Tan: #F1EDF1

*/




/* GENERAL ATTRIBUTES
-------------------------------------------------- */

body {
    overflow-x: hidden;
}

* {
margin: 0;
padding: 0;
}

/* ROW CONTAINER
-------------------------------------------------- */

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear:both;
}

/* COLUMNS
-------------------------------------------------- */

.columnedcontainer {
    width: 100%;
}

.col {
    float: left;
    width:33.333333333333333333333%;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}

.clear {
    clear:both;
}

/* NAVIGATION BAR
-------------------------------------------------- */

#nav {
    background-color: #FDFDFD;
    position: fixed;
    width: 100%;
    top: 0;
}

#nav-wrapper {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}

#nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#nav ul li {
    display: inline-block;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: #000;
}

#nav ul li:hover {
    background-color: #E0E0E0;
}

#nav ul li a,visited {
    color: #000;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 83px;
    padding-right: 83px;
    text-decoration: none;
}

/* BUTTONS
-------------------------------------------------- */

.btn-trifold {
    border-radius: 50%;
    display: inline-block;
    border: solid 6px #91C8FF;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.btn-trifold:hover {
    border-radius: 50%;
    border: solid 6px #297ACC;
}

.btn-nav {
    margin-left: 30px; /* MODIFY THIS FOR SPACING WITHOUT PUSHING THE TITLE TO THE RIGHT! */
    border-radius: 50%;
    display: inline-block;
    border: solid 6px #fff;
    transition: all .3s ease-in-out;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.btn-nav:hover {
    border: solid 6px #91C8FF;
}

.btn-nav-top {
    border-radius: 50%;
    display: inline-block;
    border: solid 6px #297ACC;
    transition: all .3s ease-in-out;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.btn-nav-top:hover {
    border: solid 6px #91C8FF;
}

.scrollToTop{
    padding:8px; 
    position:fixed;
    top:58px; /* must be close to the header .navcontainer's padding-top */
    left:22px;
    display:none;
}

.scrollToTop:hover{
    text-decoration:none;
}

/* HEADER
-------------------------------------------------- */

header {
    background: #fff;
}

header .headercontainer {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    width: 100%;
}

header .intro-text .title {
    text-align: center;
    font-size: 5em;
    font-weight: 100;
    font-family: "Helvetica Neue";
}

header .intro-text .desc {
    text-align: center;
    font-size: 1.6em;
    font-weight: 100;
    font-family: "Helvetica Neue";
}

header .navcontainer {
    width: 0%;
    float:left;
    padding-top: 65px; /* depends on size of nav button */
}

/* TRIFOLD SECTION
-------------------------------------------------- */

.trifold {
    padding: 100px 60px;
    color: #000;
    background: #91C8FF;
}

.trifold h2 {
    font-weight: 100;
    font-size: 2em;
    font-family: "Helvetica Neue";

    text-align: center;
    margin-top: 30px;
}

.trifold p {
    font-weight: 100;
    font-size: 1.25em;
    font-family: "Helvetica Neue";

    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

/* ABOUT SECTION
-------------------------------------------------- */

.about {
    padding-bottom: 260px;
    background-image:url(../images/columbia.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F1EDF1;
}

.about .school {
    padding-top: 150px;
    padding-bottom: 110px;
    font-weight: 100;
    font-size: 4em;
    font-family: "Helvetica Neue", "Lato", sans-serif;
    text-align: center;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -px black;
}

/* PROJECTS SECTION
-------------------------------------------------- */

.projects {
    background: #F1EDF1;
}

.projects headercontainer {
    text-align: center;
    width: 100%;
}

.projects h2 {
    padding-top: 80px;
    padding-bottom: 60px;
    font-weight: 100;
    font-size: 4em;
    font-family: "Helvetica Neue", sans-serif;
    text-align: center;
    color: #000;
}

.projects hr {
    width: 70%;
    margin-left: 15%;
}


.projects .title {
    font-weight: 100;
    font-size: 3.2em;
    font-family: "Helvetica Neue", sans-serif;
    color: #000;

    text-align: center;
    margin-top: 30px;
    margin-bottom: 55px;
}

.projects .desc {
    font-weight: 100;
    font-size: 1.55em;
    font-family: "Helvetica Neue", sans-serif;
    color: #000;

    text-align: center;
    margin-bottom: 55px;

    margin-left: 200px;
    margin-right: 200px;
}

.projects .pic {
    padding: 10px;
    background-color: #fff;
    display: inline-block;

    opacity:0;
    -moz-transition: opacity 2s; /* Firefox 4 */
    -webkit-transition: opacity 2s; /* Safari and Chrome */
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.projects .pinpointpic {
    height: 50%;
    width: 50%;

    padding: 8px;
    background-color: #fff;
    display: inline-block;

    border: solid 4px #91C8FF;

    opacity:0;
    -moz-transition: opacity 2s; /* Firefox 4 */
    -webkit-transition: opacity 2s; /* Safari and Chrome */
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.projects .pinpointpic:hover {
    border: solid 4px #4A4AB8;
}

.projects .firstproject {
    margin-bottom: 80px;
}

.projects .nextproject {
    margin-bottom: 150px;
}

/* SKILLS SECTION
-------------------------------------------------- */

.skills {
    background: #fff;
}

.row .skillstitle {
    font-weight: 100;
    font-size: 4.2em;
    font-family: "Helvetica Neue", "Lato", sans-serif;
    color: #000;

    text-align: center;
    margin-top: 80px;
    margin-bottom: 25px;
}

.row .skillstitle hr {
    margin-top: 40px;
    margin-bottom: 100px;
    width: 70%;
    margin-left: 15%;
}

#skill { 
    list-style: none;
    font: 35px "Helvetica Neue", sans-serif;
    font-weight: 100;
    width: 500px;
    margin: 100px auto 0;
    position: relative;
    line-height: 0em;
    padding: 0 0;
}

#skill li { 
    margin-bottom:80px; 
    background:#e9e5e2;
    height:20px;
    border-radius:10px;  
}

#skill li .name { 
    position:relative; 
    top:-25px;
}

.bar { 
    height:20px; 
    position:absolute;
    border-radius:10px;
}

.java {
    width:85%; 
    -moz-animation:graphic-design 2s ease-out;
    -webkit-animation:graphic-design 2s ease-out;
    background-color: #66b3cc;
}

.html {
    width:75%;
    -moz-animation:html-css 2s ease-out;
    -webkit-animation:html-css 2s ease-out;
    background-color: #a1ce5b;
}

.css {
    width:65%;
    -moz-animation:jquery 2s ease-out;
    -webkit-animation:jquery 2s ease-out;
    background-color: #f0bb4b;
}

.javascript {
    width:60%;
    -moz-animation:wordpress 2s ease-out;
    -webkit-animation:wordpress 2s ease-out;
    background-color: #C44756;
}

/* MAGIC SECTION
-------------------------------------------------- */

.black {
    padding-bottom: 100px;
    background-color: #000;
}

.magic {
    padding-top: 700px;
    background-image:url(../images/magicmorse.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000;
}

/* CONTACT SECTION
-------------------------------------------------- */

.contact {
    padding-top: 150px;
    padding-bottom: 150px;
    background-color: #F1EDF1;
    font-weight: 100;
    font-size: 5em;
    font-family: "Helvetica Neue", sans-serif;
}

.contact .container {
    background-color: #fff;
    border: solid 4px #297ACC;
    width: 50%;
    margin-left: 25%;
    color: #297ACC;
}

.contact .container:hover {
    background-color: #297ACC;
    border: solid 4px #297ACC;
    font-size: 1em;
}

.contact a {
    text-decoration: none;
    color: #297ACC;
}

.contact a:hover {
    color: #fff;
}

/* FOOTER SECTION
-------------------------------------------------- */

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #C3C0C3;
}

.footer .copyright {
    font-weight: 100;
    font-size: 1.4em;
    font-family: "Helvetica Neue", sans-serif;
}