/* GENERAL ATTRIBUTES
-------------------------------------------------- */

body {
    overflow-x: hidden;
}

* {
margin: 0;
padding: 0;
}

.text-center {
  text-align: center;
}



/* HEADER
-------------------------------------------------- */

header {
    background: #fff;
}

header .headercontainer {
    padding-top: 65px;
    padding-bottom: 65px;
    text-align: center;
    width: 100%;
}

header .intro-text .title {
    text-align: center;
    font-size: 5em;
    font-weight: 100;
    font-family: "Helvetica Neue";
}

header .intro-text .desc {
    text-align: center;
    font-size: 1.6em;
    font-weight: 100;
    font-family: "Helvetica Neue";
}

header .navcontainer {
    width: 0%;
    float:left;
    padding-top: 65px; /* depends on size of nav button */
}




/* FOOTER
-------------------------------------------------- */

footer {
    color: #000;
    background: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}










/* BUTTONS
-------------------------------------------------- */

.btn-skills {
    border-radius: 50%;
    display: inline-block;
    border: solid 6px #91C8FF;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

.btn-skills:hover {
    border-radius: 50%;
    border: solid 6px #297ACC;
}

.btn-nav {
    margin-left: 30px; /* MODIFY THIS FOR SPACING WITHOUT PUSHING THE TITLE TO THE RIGHT! */
    border-radius: 50%;
    display: inline-block;
    border: solid 6px #fff;
    transition: all .3s ease-in-out;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.btn-nav:hover {
    border: solid 6px #91C8FF;
}

.btn-nav-top {
    border-radius: 50%;
    display: inline-block;
    border: solid 6px #297ACC;
    transition: all .3s ease-in-out;
    overflow: hidden;
    width: 80px;
    height: 80px;
}

.btn-nav-top:hover {
    border: solid 6px #91C8FF;
}

.scrollToTop{
    padding:8px; 
    position:fixed;
    top:58px; /* must be close to the header .navcontainer's padding-top */
    left:22px;
    display:none;
}

.scrollToTop:hover{
    text-decoration:none;
}





/* SKILLS SECTION
-------------------------------------------------- */

.skills {
    padding: 80px 60px;
    color: #000;
    background: #91C8FF;
}

.skills h2 {
    font-weight: 100;
    font-size: 2em;
    font-family: "Helvetica Neue";

    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.skills p {
    font-weight: 100;
    font-size: 1.25em;
    font-family: "Helvetica Neue";

    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}





/* ROW CONTAINER
-------------------------------------------------- */

.row:before,
.row:after {
    content: "";
    display: table;
}

.row:after {
    clear:both;
}





/* COLUMNS
-------------------------------------------------- */

.columnedcontainer {
    width: 100%;
}

.col {
    float: left;
    width:33.333333333333333333333%;
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;
}

.clear {
    clear:both;
}










/* PROJECTS SECTION
-------------------------------------------------- */

.projects {
    background: #297ACC;
}

.projects headercontainer {
    text-align: center;
    width: 100%;
}

.projects h2 {
    padding-top: 80px;
    padding-bottom: 60px;
    font-weight: 100;
    font-size: 4.5em;
    font-family: "Montserrat", "Hevetica Neue", sans-serif;
    text-align: center;
    color: #fff;
}

.projects hr {
    width: 70%;
    margin-left: 15%;
}

.projects .titlecontainer {
    width: 70%;
    margin-left: 15%;
    background-color: #fff;
}

.projects .title {
    font-weight: 400;
    font-size: 3.2em;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    color: #297ACC;

    text-align: center;
    margin-top: 30px;
    margin-bottom: 55px;
}

.projects .desc {
    font-weight: 200;
    font-size: 1.55em;
    font-family: "Helvetica Neue", "Lato", sans-serif;
    color: #fff;

    text-align: center;
    margin-bottom: 55px;

    margin-left: 200px;
    margin-right: 200px;
}

.projects .pic {
    padding: 10px;
    background-color: #fff;
    display: inline-block;

    opacity:0;
    -moz-transition: opacity 2s; /* Firefox 4 */
    -webkit-transition: opacity 2s; /* Safari and Chrome */
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.projects .pinpointpic {
    height: 50%;
    width: 50%;

    padding: 8px;
    background-color: #fff;
    display: inline-block;

    border:8px solid #297ACC;

    opacity:0;
    -moz-transition: opacity 2s; /* Firefox 4 */
    -webkit-transition: opacity 2s; /* Safari and Chrome */
    -o-transition: opacity 2s;
    transition: opacity 2s;
}

.projects .pinpointpic:hover {
    border: solid 8px #91C8FF;
}

.projects .firstproject {
    margin-bottom: 80px;
}

.projects .nextproject {
    margin-bottom: 150px;
}








