body {
    background-color: #eee;
}

#image {
    margin-top: 40px;
    margin-bottom: 40px;
	text-align: center;
    border: 3px solid;
    border-radius: 50%;
}

#scoreDiv {
    margin-bottom: 50px;
	text-align: center;
	font-size: 3em;
    font-weight: 100;
    font-family: "Montserrat", "Helvetica Neue";
}

#timerDiv {
    margin-top: 40px;
	text-align: center;
	font-size: 3em;
    font-weight: 100;
    font-family: "Montserrat", "Helvetica Neue";
}

.instructions {
    margin: 50px;
    text-align: center;
    font-size: 2.3em;
    font-weight: 100;
    font-family: "Montserrat", "Helvetica Neue";
}

.instructions hr {
    width: 50%;
    text-align: center;
}

.instructions .icon {
    margin: 25px;
    border: 3px solid;
    border-radius: 50%;
    height: 25%;
    display: inline;
}

.container {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.button {
    text-align: center;
    font-size: 3em;
    font-weight: 100;
    font-family: "Montserrat", "Helvetica Neue";
    color: #fff;
    background-color: #297ACC;

    border: 3px solid #eee;
    width: 50%;

    float: left;
    margin-left: 25%;
    padding-top: 10px;
    padding-bottom: 12px;
    border-radius: 15px;
}

.button:hover {
    background-color: #FFA347;
}

a, visited {
    text-decoration: none;
}