.container {
	text-align: center;
	margin-top: 80px;
	margin-left: 15%;
	width: 70%;
}

.instructions {
	margin: 50px;
	font-size: 30px;
	font-family: Helvetica;
	font-weight: 100;
}

.btn {
	margin: 50px;
	height: 80px;
	width: 300px;
	font-size: 30px;
	font-family: Helvetica;
	font-weight: 100;
}

#conclusion {
	display: none;
}

#output {
	margin: 50px;
	font-size: 40px;
	font-family: Helvetica;
	font-weight: 100;
	color: green;
}

.counter {
	margin-bottom: 30px;
}

.card-input {
	margin: 4px;
	width: 60%;
}

@media (max-width: 640px) {
	.container {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.instructions {
		margin: 10px;
		font-size: 12px;
	}

	.card-input {
		margin-left: auto;
		margin-right: auto;
	}

	.btn {
		margin: 20px;
		height: 50px;
		width: 40%;
		font-size: 18px;
	}

	#output {
		font-size: 25px;
	}
}