.container {
	text-align: center;
	margin-top: 80px;
	margin-left: 15%;
	width: 70%;
}

.instructions {
	margin: 50px;
	font-size: 30px;
	font-family: Helvetica;
	font-weight: 100;
}

.btn {
	margin: 50px;
	height: 80px;
	width: 300px;
	border: 0;
	border-radius: 10px;
	background-color: #FF8500;
	font-size: 2rem;
	font-family: Helvetica;
	font-weight: 100;
	color: #FFFFFF;
}

.btn:hover {
	background-color: #E87700;
	cursor: pointer;
}

#conclusion {
	display: none;
}

#output {
	margin: 50px;
	font-size: 2rem;
	font-family: Helvetica;
	font-weight: 100;
	color: green;
}

.counter {
	font-size: 1rem;
	font-family: Helvetica;
	font-weight: 100;
	margin-bottom: 30px;
}

.card-input {
	font-size: 1rem;
	margin: 4px;
	width: 60%;
	padding: 10px;
  	border: solid 3px #C9C9C9;
}

.card-input:focus {
	outline: none;
	border-color: #FF8500;
}

@media (max-width: 640px) {
	.container {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.instructions {
		margin: 10px;
		font-size: 12px;
	}

	.card-input {
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		font-size: .75rem;
		padding: 5px;
		border-width: 2px;
	}

	.btn {
		margin: 20px;
		height: 50px;
		width: 40%;
		font-size: 18px;
	}

	#output {
		font-size: 25px;
	}
}