@font-face {
	font-family: "nyt";
	src: url("nyt.tff");
}

body {
	background-color: #990033;
}

.container {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 25px;
	text-align: center;
}

@media (max-width: 780px) {
	.container {
		margin-left: 10px;
		margin-right: 10px;
		margin-top: 10px;
		text-align: center;
	}
}

#snippetDiv {
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: "Helvetica Neue";
	font-weight: 200;
	font-size: 1.55em;
	color: white;
}

.btn {
	text-align: center;
	width: 25%;
	height: 120px;
	font-family: "Helvetica Neue";
	font-weight: 100;
	font-size: 2.5em;
	float: left;
	border: solid 1px #990033;
	background-color: white;
	margin-bottom: 50px;
}

@media (max-width: 780px) {
	.btn {
		text-align: center;
		width: 50%;
		height: 100px;
		font-family: "Helvetica Neue";
		font-weight: 100;
		font-size: 2em;
		float: left;
		border: solid 1px #990033;
		background-color: white;
		margin-bottom: 30px;
	}
}

#result {
	font-family: "Helvetica Neue";
	font-weight: 200;
	font-size: 4em;
	color: white;
}

#logo {
	width:200px;
    height: auto;
}

#header {
	margin-top: 0px;
	padding-top: 0px;
	font-family: "Montserrat";
	font-weight: 200;
	font-size: 2.5em;
	font-style: bold;
	color: white;
	margin-bottom: 25px;
}

#again {
	margin-top: 20px;
	margin-bottom: 50px;
}